<div class=" container">
    <form class="add-product" #myProductForm=ngForm>
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group" [ngClass]="{'invalid': textInputName.invalid && textInputName.touched}">
                                <label for="">Name</label>
                                <input #textInputName="ngModel" required pattern="^[\u0621-\u064A0-9 ]+$" [value]="product.data[0]?.name" ngModel class="form-control" type="text" name="productName" id="">
                                <span *ngIf="textInputName.touched && textInputName.invalid && textInputName.errors?.required">This field is required</span>
                                <span *ngIf="textInputName.touched && textInputName.invalid && textInputName.errors?.pattern">Please Enter Valid Data</span>
                                <span *ngIf="textInputName.invalid">Please enter valid data</span>
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea #textInputDesc=ngModel  required [value]="product.data[0]?.description" required ngModel class="form-control" name="productDescription" id="" cols="30" rows="4"></textarea>
                                <span *ngIf="textInputDesc.touched && textInputDesc.invalid && textInputDesc.errors?.required">This field is required</span>

                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group invalid">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group">
                    <label for="">Price</label>
                    <input [(ngModel)]="product.price" class="form-control" type="number" name="price" id="">
                    <span>{{product.price}}</span>
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input #isOnSaleInput=ngModel type="radio" name="onSale" value=1 id="" ngModel><span>On Sale</span></div>
                            <div class="form-group__radio"><input #isOnSaleInput=ngModel type="radio" name="onSale" id="" value=0 ngModel><span>Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [(ngModel)]="product.discount" name="discount" class="form-control" type="number" id="" [disabled]="isOnSaleInput.value == 0">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div class="form-group__checkboxs">
                        <div *ngFor="let payment of paymentTypes; let i = index" class="form-group__checkbox"><input [value]="payment.id" (input)="onCheckBoxChanged(i)" ngModel type="checkbox" [name]="'check_'+i" id=""><span>{{payment.name}}</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select ngModel class="form-control" name="category" id="">
                        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div class="taged-textbox__tag"><span>tag1</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag2</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag3</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag4</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag5</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag6</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag7</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag8</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag9</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag10</span><a class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input class="taged-textbox__textbox form-control" type="text" name="" id="">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button class="btn btn--primary" (click)="onFormSubmit(textInputName)" >Add</button>
                </div>
            </div>
        </div>
    </form>
</div>