<!-- <img [attr.Src]="'https://picsum.photos/200/300'" alt=""> -->


<div class="default" [ngClass]="{'activeClass': active}"> Test Active</div>

<div [ngStyle]="{'font-size': '46px'}">Hamda test</div>

<div *ngIf="active ; else exampleEl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aspernatur, aliquam aut voluptas exercitationem cum dignissimos illum? Hic, repellat exercitationem quod similique voluptas vitae fugiat natus iste magni, repudiandae deserunt?</div>

<ng-template #exampleEl>
    <div class="section">
        <aside>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis blanditiis explicabo sint nobis libero sapiente illo ratione dicta, veritatis excepturi, numquam quibusdam dignissimos, adipisci reprehenderit consectetur ad neque voluptatum voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, perspiciatis quod? Ullam libero suscipit porro, eveniet aut atque quidem tenetur? Nisi, libero quis. Consectetur itaque nesciunt sunt! Sequi, magni porro.
            </h1>
        </aside>
    </div>
</ng-template>

<div #devEx>
    test div 
</div>

<!-- <div id="devEx">
    test div
</div>

document.getElementById('devEx')
 -->

<div>
    {{devEx.innerHTML + 'clone'}}
</div>


<div #testElRef id="testDivId">
    <div>
        <div>
            <div>
                <div #newElRef>ttt</div>
            </div>
        </div>
    </div>
    some Data
</div>

<div #testClass class="testClass">
    hamada
</div>

<div #testClass class="testClass">
    hamada2
</div>

<div #testClass class="testClass">
    hamada3
</div>

<div [ngSwitch]="num">
    <ul>
        <li *ngSwitchCase="1">True</li>
        <li *ngSwitchCase="2">False</li>
        <li *ngSwitchDefault>default</li>
    </ul>
</div>

<h1>{{num}}</h1>